*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 54%;
  }

  @include respond(tab-pot) {
    font-size: 50%;
  }

  @include respond(phone-lg) {
    font-size: 54%;
  }

  @include respond(phone-sm) {
    font-size: 48%;
  }
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}
